body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    background-image: url(https://img.gamecompanies.com/games/covers/a1b8f529-fc24-4b6a-ae8c-ba4855d3d68e.jpg?class=social);
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(251, 245, 245);
}

h1 {
    text-align: center;
    color: #26a53b;
}

.question {
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#result {
    text-align: center;
}
